.submitted-data{
    max-width: 600px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    border: 2px solid black;
}

h2 {
    
    display: flex;
    justify-content: center;
    font-size: 2em;
    font-weight: bold;
    unicode-bidi: isolate;
}
.card{
    background: #d7dfe7;
    padding: 15px;
    margin: 10px 0;
    border-radius: 4px;
}